language: julia
os:
    - osx
    - linux
julia:
    - 0.4
    - release
    - nightly
matrix:
  allow_failures:
    - julia: nightly
git:
    depth: 999999
notifications:
    email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.build("ODE"); Pkg.test("ODE"; coverage=true)';
after_success:
    - julia -e 'cd(Pkg.dir("ODE")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder()); Codecov.submit(process_folder())';
